@import 'variables__style.scss';
body{
    margin: 0 auto;
}
.header_up {
    width: 100%;
    background-color: black;
    display: inline-block;
    p{
    vertical-align: middle;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: 10px;
    word-spacing: 2px;
    height: 17px;
    }
    @media (max-width: 700px) {
        p{
            font-size: 10px;
        }
    }
}
.header_main{
    width: 89%;
    height: 121px;
    margin: 0 auto;
    margin-top: 36px;
    .header_main_form{
        display: flex;
        margin-top: -110px;
        justify-content: end;
    }
    .header_main_img{
        width: 75px;
        height: 113px;
    }
    .search{
        width: 250px;
        height: 32px;
        background-color: white;
        border: 1px solid #c2c2c2;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }
    @media (max-width: 700px) {
        .search{
            width: 150px;
            height:27px ; 
        }
    }
    @media (max-width: 500px) {
        .search{
            display: none;
        }
    }
    .sign{
        font-family: "Roboto", Sans-serif;
        width: 158px;
        height: 32px;
        color: $main-color;;
        margin-top: 6px;
        text-align: center;
        font-size: 15px;
        display: inline-block;
    }
    .sign:hover{
        text-decoration: underline;
    }
    .card{
        width: 25px;
        height: 20px;
    }
    .card:hover{
        transform: scale(1.2);
    }
    .header_nav{
        display: flex;
        margin: auto;
        margin-top: 30px;
        margin-left: 140px;
        display: flex;
        justify-content: space-around;
    }
    .header_main_nav{
    font-family: "Roboto";
    color: $text-color;
    font-size: 20px;
    font-weight: 300;
    line-height: 2.2rem;
    }
    .header_main_nav:hover{
        transform: scale(1.2);
    }

@media (max-width: 1000px) {
    .header_main_nav{
        font-size: 15px;
    }
}
@media (max-width: 800px) {
    .header_main_nav{
        font-size: 10px;
    }
}
@media (max-width: 500px) {
    .header_main_nav{
        display: none;
    }
}
}