@import 'variables__style.scss';
.main_visit-us{
    width: 85%;
    margin: 0 auto;
    background-color: #F3F0E9;
    height: 817px;
    margin-bottom: 30px;
    .visit-us-header{
        width: 100%;
        height: 52px;
        justify-content: center;
        display: flex;
        line-height: 4;
    }
    h1{
        font-family: "Oswald", Sans-serif;
        font-size: 40px;
        font-weight: 400;
        color: $text-color;
    }
    .visit-us-line{
        width: 100%;
        border: 1px solid $main-color;
        margin-top: 95px;
        display: flex;
    }
    .visit-us-container{
        width: 100%;
        height: 850px;
        display: flex;
    }
    .container-left{
        width: 50%;
    }
    .visitus-img{
        padding: 55px;
        width: 265px;
        height: 326px;
        display: flex;
        margin: 0 auto;
    }
    @media (max-width:920px){
        .visitus-img{
            width: 50%
        }
    }
    @media (max-width:540px){
        .visitus-img{
            padding: 1px;
            margin-top: 50px;
        }
    }
    .left-main-text{
        text-align: center;
        font-family: "Oswald", Sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 0.3;
        color: $text-color;
        margin-top: -20px;
    }
    @media (max-width:920px){
        .left-main-text{
            font-size: 17px;
        }
    }
    @media (max-width:920px){
        .left-main-text{
            margin-top: 30px;
            height: 40px;
            line-height: 1;
            margin-bottom: 63px;
        }
    }
    .button{
        margin: 0 auto;
        display: flex;
        width: 252px;
        height: 46px;
        background-color: $main-color;
        border: 0px;
        justify-content: center;
        align-items: center;
        }
        @media (max-width:920px){
            .button{
                margin-top: 30px;
                width: 170px;
        }
    }
    @media (max-width:540px){
        .button{
            margin-top: 30px;
            width: 120px;
    }
}
        .button:hover{
            background-color: $text-color;
        }
        .button-tetx{
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 2px;
        display: flex;
        color: white;
        }
        @media (max-width:540px){
            .button-tetx{
                font-size: 17px;
        }
    }
        .left-subtitle{
            text-align: center;
            font-family: "Oswald", Sans-serif;
            font-size: 24px;
            font-weight: 400;
            color: $text-color;
        }
        @media (max-width:920px){
            .left-subtitle{
                margin-top: 60px;
                font-size: 17px;
            }
        }
        @media (max-width:920px){
            .left-subtitle{
                display: none;
            }
        }
        .right{
            width: 50%;
        }
}
@media (max-width:920px){
    .main_visit-us{
        width: 95%;
}
}