@import 'variables__style.scss';
.main_follow-us{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
    .follow-us-title{
        text-align: center;
        font-family: "Oswald", Sans-serif;
        font-size: 40px;
        font-weight: 400;
    }
    a{
        color:$main-color;
    }
    .follow-us-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,390px);
        gap: 11px;
    }
    @media (max-width:950px){
        .follow-us-container{
            grid-template-columns: 1fr; 
            margin: 0 auto;
        }
    }
}
    .followus-img {
        width: 390px;
        height: 395px;
        object-fit: cover;
    }
    @media (max-width:950px){
        .followus-img{
            margin: 0 auto;
        }
    }
    @media (max-width:470px){
        .followus-img{
            width: 290px;
        height: 295px;
        }
    }
