.main_mini-icons{
justify-content: space-around;
width: 90%;
height: 70px;
margin: 0 auto;
display: flex;
    .icons-img{
        width: 100px;
        height: 70px;
    }
    @media (max-width: 900px) {
        .icons-img{
            width: 60px;
            height: 50px;
        }
    }
    .icons{
        display: flex;
        font-family: "Oswald", Sans-serif;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.5px;
        width: 258px;
        line-height: 28px;
    }
    @media (max-width: 900px) {
        .icons-img{
            font-size: 15px;
        }
    }
    @media (max-width: 700px) {
        .icons{
            display: block;
        }
    }
    p{
    margin-top: 10px;
    letter-spacing: 1px;
    margin-left: 12px;
    }
    @media (max-width: 900px) {
        p{
            font-size: 15px;
        }
    }
}